/*
Title:  CSS3 Gradient GUI
Author:  Nathaniel Foster
Website:  nfoster.net
Email: nate@nfoster.net
Version: 1.2

*/

body, html {
	min-width: 100%;
	height: 100%;
	margin: 0;
}

input[type='checkbox'] {
	display: none;
}

ul {
	list-style-type:none;
	margin: 0;
}

a {
	color : rgb(200, 200, 200);
}

#main_content {
	height: 100%;
}

.header {
	background: rgba(45,45,45,1);
	border-bottom: 2px solid rgba(0,0,0,0.7);
	color: rgba(255,255,255,1);
	padding: .5em .5em 0em .5em;
	text-align: center;
	text-shadow: 0 -1px black;
	background: #505050; /* Old browsers */
	background: -moz-linear-gradient(top, #505050 0%, #1f1e1e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#505050), color-stop(100%,#1f1e1e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #505050 0%,#1f1e1e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #505050 0%,#1f1e1e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #505050 0%,#1f1e1e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #505050 0%,#1f1e1e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505050', endColorstr='#1f1e1e',GradientType=0 ); /* IE6-9 */
}

.logo {
	color: white;
}

.control-panel {
	color: white;
	display: none;
	text-align: center;
}

.view-header {
	background-color: rgba(30, 30, 30, 1);
	padding-top: .25em;
	margin: auto;
}

.view-title {
	font-size:1.25em;
}

.frame {
	background-color: rgba(30,30,30,1);
}

.viewscreen {
	border: 0.5rem solid rgb(30,30,30);
	border-color:
		rgb(15, 15, 15)
		rgb(45, 45, 45)
		rgb(55, 55, 55)
		rgb(20, 20, 20);
}

.layer-preview-bg {
	border: 1px solid rgb(128, 128, 128);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
	display: block;
	vertical-align: middle;
	width: 2.5rem;
	height: 2.5rem;
	margin: auto;
}

.layer-preview-bg-large {
	margin: 2rem auto;
	width: 150px;
	height: 150px;
}

.layer-preview {
	display: inline-block;
	height: 2.5rem;
	text-shadow: 1px 1px rgb(30, 30, 30);
	vertical-align: middle;
	width: 2.5rem;
}

.layer-preview-large {
	height: 150px;
	width: 150px;
}

.layers {
	overflow-x: scroll;
	white-space: nowrap;
}

.layer-tabs {
	margin: .5em 0;
}

.layer-tab {
	margin-right: .5em;
	display: inline-block;
	text-align: center;
	border: 2px solid transparent;
}

.selected {
	border: 2px solid rgb(128,128,128);
	border-color: white black black white;
}

.controls {
	background: rgb(30,30,30);
}

.button {
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid rgb(128, 128, 128);
	border-color:
		rgba(255, 255, 255, 0.5)
		rgba(0, 0, 0, 0.25)
		rgba(0, 0, 0, 0.5)
		rgba(0, 0, 0, 0.25);
	color: white;
	cursor: pointer;
	display: block;
	margin: .5em auto;
	padding: .5em;
	text-align: center;
	width: 75%;
}

.button:active {
	background-color: rgba(0,0,200,0.5);
}

.button-small {
	border-radius: 100%;
	display: inline-block;
	line-height: 1em;
	width: 1em;
}

.range {
	background-color: rgba(0, 0, 0, 0.1);
}

.range-border {
	border: 1px solid rgb(128, 128, 128);
	border-color:
		rgba(255, 255, 255, 0.5)
		rgba(0, 0, 0, 0.25)
		rgba(0, 0, 0, 0.5)
		rgba(0, 0, 0, 0.25);
}

.ctrl-range {
	line-height: 2rem;
}

.btn-add-layer {
	text-shadow:
		0  1px rgba(0,0,0,0.5),
		0 -1px rgba(255,255,255,0.5);
}

.inp-range {
	margin-bottom: .5em;
}

.inp-range-num {
	background: rgba(0, 0, 0, 0);
	color: rgb(255, 255, 255);
	text-align: center;
	width: 3rem;
	display: inline-block;
	padding: 0;
	margin: 0;
}


.row-big {
	border-bottom: 1px solid rgba(0, 0, 0, 1);
	border-top: 1px solid rgba(225, 225, 225, 1);
}

.color-position {
	margin-top: .4em;
}

.color-row1 {
	padding: .25em 0em;
}

.delete {
	text-align: right;
}

.btn-delete, .btn-delete:hover  {
	color: rgb(158, 158, 158);
	text-shadow: 0px 1px rgb(0, 0, 0), 0px -1px rgb(255, 255, 255);
	font-size: 1rem;
	opacity: 1;
	width: 1rem;
	padding: .5em;
	float: right;
}

.btn-delete-layer, .btn-delete-layer:hover  {
	color: rgb(200, 200, 200);
	display: block;
	text-shadow: 0px 1px rgba(0, 0, 0, 0.57), 0px -1px rgba(255, 255, 255, 0.5);
	font-size: 1.5rem;
	margin-top: .25rem;
}

.cssBg {
	margin-bottom: .5em;
}

.code-display {
	color: rgb(30, 30, 30);
	text-align: left;
}

@media (max-width: 40em) {
	.js .nav {
		text-align: center;
	}
}


/* flipper */
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}

/* flip speed goes here */
.flipper {
	/* border: 1rem solid rgb(30, 30, 30);
	border-top: rgb(253, 245, 230)
	border-color: rgb(30, 30, 30); */
	max-width: 800px;
	margin: auto;
	-webkit-transition: 0.6s;
	   -moz-transition: 0.6s;
	     -o-transition: 0.6s;
			-ms-transition: 0.6s;
	    	 	transition: 0.6s;

	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
		 	 -o-transform-style: preserve-3d;
			-ms-transform-style: preserve-3d;
					transform-style: preserve-3d;
}

.front {
	position: absolute;
}
/* hide back of pane during swap */
.front, .back {
	border: 0.25rem solid rgb(30, 30, 30);
	border-top: 0;
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
  	 -moz-backface-visibility: hidden;
			    backface-visibility: hidden;
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
	width: 100%;
	min-height: 20em;
	top: 0;
	left: 0;
}

.transparentFont {
	color: transparent;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
	  		transform: rotateY(180deg);
}

.flip-container.flip .flipper {
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
			transform: rotateY(180deg);
}

.row {
	margin: auto !important;
}

/* end flipper */

/* logo work
background: -webkit-linear-gradient(158deg,rgb(255, 133, 0) 0%,rgb(255, 255, 32) 35%, rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0) 50%), -webkit-linear-gradient(40deg, rgba(0, 0, 0, 0) 35%,rgba(0, 0, 0, 0.7) 50%, rgb(255, 0, 0) 50%,rgb(192, 0, 0) 100%), -webkit-linear-gradient(158deg,rgba(255, 255, 255, 0) 50%,rgba(0, 0, 0, 0.6) 65%,rgb(32, 193, 255) 65%, rgb(0, 0, 194) 100%), -webkit-linear-gradient(68deg, rgb(0, 122, 0) 0%,rgb(29, 165, 35) 60%, rgba(0, 0, 0, 0) 100%);
background: -webkit-linear-gradient(158deg,rgb(255, 133, 0) 0%,rgb(255, 255, 32) 40%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0) 42%), -webkit-linear-gradient(40deg, rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.8) 50%, rgb(255, 0, 0) 50%,rgb(192, 0, 0) 100%), -webkit-linear-gradient(158deg,rgba(255, 255, 255, 0) 58%,rgba(0, 0, 0, 0.8) 60%,rgb(32, 193, 255) 60%, rgb(0, 0, 194) 100%), -webkit-linear-gradient(68deg, rgb(0, 122, 0) 0%,rgb(29, 165, 35) 60%, rgba(0, 0, 0, 0) 60%);
background: -webkit-linear-gradient(158deg,rgb(255, 133, 0) 0%,rgb(255, 255, 32) 40%, rgba(0, 0, 0, 0) 45%), -webkit-linear-gradient(68deg, rgba(0, 0, 0, 0) 55%, rgb(255, 0, 0) 60%,rgb(192, 0, 0) 100%), -webkit-linear-gradient(158deg,rgba(255, 255, 255, 0) 55%,rgb(32, 193, 255) 60%, rgb(0, 0, 194) 100%), -webkit-linear-gradient(68deg, rgb(0, 122, 0) 0%,rgb(29, 165, 35) 60%, rgba(0, 0, 0, 0) 60%);
background: -webkit-linear-gradient(68deg, rgba(245, 255, 0, 0.5) 50%,rgba(255, 255, 255, 0) 50%),-webkit-linear-gradient(158deg, rgba(20, 0, 255, 0.5) 50%,rgba(255, 255, 255, 0) 50%),-webkit-linear-gradient(68deg, rgba(255, 255, 255, 0) 50%,rgba(13, 245, 3, 0.5) 50%),-webkit-linear-gradient(158deg, rgba(255, 0, 0, 0.5) 50%,rgba(255, 0, 0, 0) 50%),-webkit-linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5));
background: -webkit-linear-gradient(68deg, rgba(0, 255, 0, 0.6) 25%,rgba(255, 0, 0, 0.61) 75%),-webkit-linear-gradient(158deg, #8B99FF 40%,#FFF96E 60%);
 */

 /* waves
 background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 40%, rgb(4, 0, 107) 100%), -webkit-radial-gradient(50% -10% , 100% 105%, rgb(4, 0, 109), rgba(0, 0, 73, 0.9) 55%, rgba(4, 0, 109, 0.1) 100%),-webkit-linear-gradient(rgb(4, 0, 107) 0%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%);
 */
