<!--
Title:  CSS3 Gradient GUI
Author:  Nathaniel Foster
Website:  nfoster.net
Email: nate@nfoster.net
Version: 1.2
-->

<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">

  <!-- Force latest available IE rendering engine and Chrome Frame (if installed) -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Gradients</title>
  <meta name="description" content="Gradients">
  <meta name="author" content="Nathaniel Foster">

  <!-- Mobile Screen Resizing -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=0">

  <!-- icons for mobile devices -->
  <link rel="apple-touch-icon" href="img/apple-touch-icon-57.png">
  <link rel="apple-touch-icon" sizes="72x72"   href="img/apple-touch-icon-72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152.png">

  <!-- stylesheet -->
  <link rel="stylesheet" href="css/libs/kraken.css" type="text/css">
  <link rel="stylesheet" href="css/libs/spectrum.css">
  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="css/libs/astro-navbar-plus-css.css" type="text/css">
  <link rel="stylesheet" href="css/gradients.css">

  <!-- HTML5 Shim for IE 6-8 -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Feature Test For Navigation -->
  <script>
    if ( 'querySelector' in document && 'addEventListener' in window && Array.prototype.forEach ) {
      document.documentElement.className += 'js';
    }
  </script>
  </head>

  <body style="background: {{bgImage}} background-size: {{bgSize}}"
    ng-controller="ColorCtrl"
    ng-init="init()">

  <!--[if lt IE 9]>
    <section class="container">
      Did you know that your web browser is a bit old? Some of the content on this site might not work right as a result. <a href="http://whatbrowser.org">Upgrade your browser</a> for a faster, better, and safer web experience.
    </section>
  <![endif]-->

  <div id="main_content">
    <div class="header">
      <nav class="nav-wrap">
        <a class="logo" href="/index.html">Nathaniel Foster</a>
        <a class="nav-toggle" data-target="#nav-menu" href="#">Menu ▼</a>
        <div class="nav-collapse" id="nav-menu">
          <ul class="nav">
            <li><a class="icon-home" href="index.html"> Home</a></li>
            <li><a class="icon-lab" href="gradients.html"> Lab</a></li>
            <li><a class="icon-profile" href="software_developer.html"> Resume</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div id="control-panel" class="control-panel flip-container">
      <div class="row row-start-xsmall view-header">
        <div class="grid-fourth">
          <a class="btn" ng-click="showCSS()" style="visibility:{{btnCssVisibility}}">
            <span class="icon-css3"></span>
            CSS3
          </a>
        </div>
        <div class="grid-half view-title">CSS3 Gradients</div>
        <div class="grid-fourth">
          <label class="btn" for="cbxVisible">
            <input id="cbxVisible" type="checkbox" ng-model="isVisible" />
            <span class="{{iconDisplay}}"></span> {{displayToggle}}
          </label>
        </div>
      </div>
      <div class="flipper" style="display:{{display}}">
        <div id="front" class="front">
          <div class="layer-tabs row row-start-xsmall frame">
            <span class="grid-fourth">
              <a class="button" id="btnReset" ng-click="resetApp()">Reset</a>
            </span>
            <span class="grid-half">
              <ul class="layers">
                <li class="layer-tab"
                  ng-repeat="lyr in layer.list"
                  ng-click="layer.change($index)"
                  ng-class="{selected: $index==layer.current.index}">

                  <span class="layer-preview-bg">
                    <span class="layer-preview" style="background: {{lyr.gradient}}" >
                      {{$index}}
                    </span>
                  </span>
                </li>
                <li class="layer-tab">
                    <a class="btn-add-layer icon-plus" ng-click="layer.add()"></a>
                </li>
              </ul>
            </span>
            <span  class="grid-fourth">
              <span  style="display:{{layer.display.btnRemove}}" ng-click="layer.remove($index)">
                <span class="layer-preview" >
                  <span class="btn-delete-layer">X</span>
                </span>
              </span>
            </span>
          </div>
          <div class="row row-start-xsmall viewscreen">
            <span class="layer-preview-bg layer-preview-bg-large selected">
              <span class="layer-preview layer-preview-large"
                style="background: {{layer.current.gradient}}"></span>
            </span>
          </div>

          <div class="controls">
            <div class="row row-start-xsmall">
              <div class="grid-half">
                <label class="button" for="cbxDirection">
                  <input id="cbxDirection"
                    type="checkbox"
                    name="gradient"
                    ng-model="layer.current.isRadial"
                    ng-change="changeDirection()"/>

                  <span class="{{iconDirection}}"></span>
                  {{nameDirection}}
                </label>
              </div>
              <div class="grid-half">
                <label class="button" for="cbxRepeating">
                  <input id="cbxRepeating"
                    name="cbxRepeating"
                    type="checkbox"
                    ng-model="layer.current.isRepeating"/>

                  {{nameRepeating}}
                </label>
              </div>
            </div>
            <div class="size range range-border">
              <div class="row row-start-xsmall">
                <div class="grid-full">
                  <span>Size: {{size.val}}</span>
                  <label class="button button-small" for="cbxSizeMeasurement">
                    <input id="cbxSizeMeasurement"
                      name="cbxSizeMeasurement"
                      type="checkbox"
                      ng-model="size.isPercentage" />

                    {{size.measurement}}
                  </label>
                </div>
              </div>
              <div class="row row-start-xsmall">
                <a class="grid-fourth ctrl-range btn-range icon-minus"
                  ng-click="size.minus()"
                  value="-"></a>

                <input type="range"
                  class="grid-half ctrl-range inp-range"
                  ng-model="size.val"
                  min="0"
                  max="100" />

                <a class="grid-fourth ctrl-range btn-range icon-plus"
                  ng-click="size.plus()"
                  value="+"></a>
              </div>
            </div>
            <div class="angle range range-border" style="display:{{displayAngleControl}}">
              <div class="row row-start-xsmall">
                <div class="grid-full">
                  <span>Angle: {{layer.current.angle.val}}</span>
                </div>
              </div>
              <div class="row row-start-xsmall">
                <a class="grid-fourth ctrl-range btn-range icon-minus"
                  ng-click="layer.current.angle.minus()"
                  value="-"></a>

                <input type="range"
                  class="grid-half ctrl-range inp-range"
                  ng-model="layer.current.angle.val"
                  min="0"
                  max="360" />

                <a class="grid-fourth ctrl-range btn-range icon-plus"
                  ng-click="layer.current.angle.plus()"
                  value="+"></a>
              </div>
            </div>
            <h3>Colors</h3>
            <ul id="list-colors" class="list-colors">
              <li ng-repeat="color in layer.current.color.list" class="row-big range">
                <div class="row row-start-xsmall color-row1" >
                  <div class="grid-fourth" >
                    <div class="color-picker">
                      <ui-colorpicker ng-model="color.val"></ui-colorpicker>
                    </div>
                  </div>
                  <div class="color-position grid-half">
                    <span>{{color.percentage.val}}%</span>
                  </div>
                  <div class="grid-fourth delete">
                    <a type="button"
                      class="btn-delete icon-cancel-circle"
                      ng-click="layer.current.color.remove($index)"
                      style="display:{{layer.current.color.display.btnRemove}}">
                    </a>
                  </div>
                </div>
                <div class="row row-start-xsmall">
                  <a class="grid-fourth ctrl-range btn-range icon-minus"
                    ng-click="color.percentage.minus($index)"></a>

                  <input type="range"
                    class="grid-half ctrl-range inp-range"
                    min="0"
                    max="100"
                    ng-model="color.percentage.val" />

                  <a class="grid-fourth ctrl-range btn-range icon-plus"
                    ng-click="color.percentage.plus($index)"></a>
                </div>
              </li>
            </ul>
            <div class="row" >
              <a type="button" class="button" ng-click="layer.current.color.add()">
                <span class="icon-plus"></span>
                ADD COLOR
              </a>
            </div>
          </div>
        </div>
        <div id="back" class="back">
          <div class="code-display">
            <ul>
              <li ng-repeat="bg in cssBg" class="cssBg">
                <div class="cssBackground"><pre>background: {{bg}}</pre></div>
              </li>
            </ul>
            <div class="cssBackgroundSize"><span>background-size: {{bgSize}}</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="js/libs/jquery-1.9.1.min.js"></script>
  <script src="js/libs/spectrum.js"></script>
  <script src="js/libs/angular.min.js"></script>
  <script src="js/libs/angular-touch.min.js"></script>
  <script src="js/libs/kraken.js"></script>
  <script src="js/libs/buoy.js"></script>
  <script src="js/libs/astro-plus.js"></script>
  <script src="js/libs/json2.min.js"></script>
  <script src="js/gradients.js"></script>

  </body>
</html>
